In [1]:
#Import thư viện
import pandas as pd
import numpy as np 
#ipynb là file notebook

In [9]:
#Có 3 cách để import một file dữ liệu vào dataframe
#Có 2 tham số truyền vào: Tham số 1 là địa chỉ của file, tham số thứ 2 encoding của cái file dataset đó(mặc định là UTF-8)
#Cách 1 
df = pd.read_csv("AmesHousing.csv")
df
#Cách 2: Nếu như để chữ r ở trước thì chúng ta không cần phải thêm \ 
#Nếu chúng ta để r ở trước thì không cần phải thêm \
file_path1 = r"C:\Users\nhngh\Desktop\DA\Datasets\AmesHousing.csv"
file_path = "C:\\Users\\nhngh\\Desktop\\DA\\Datasets\\AmesHousing.csv"
df = pd.read_csv(file_path1)
#Cách 3: Để trực tiếp đường dẫn vào tham số thứ nhất 
df = pd.read_csv(r"C:\Users\nhngh\Desktop\DA\Datasets\AmesHousing.csv")
df = pd.read_csv("C:\\Users\\nhngh\\Desktop\\DA\\Datasets\\AmesHousing.csv")
df

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [16]:
#Tạo Dataframe từ list
lst = ['Kế toán','Kinh doanh','Tiếp thị']
df1 = pd.DataFrame(lst)
df1

            0
0     Kế toán
1  Kinh doanh
2    Tiếp thị

In [28]:
#Tạo dataframe từ list có nhiều hơn 2 cột và 2 dòng
#1 phần tử trong list sẽ là giá trị của một dòng(hoặc 1 điểm dữ liệu)
#Đối với điểm dữ liệu bị thiếu giá trị, giá trị mặc định sẽ là NaN
lst = [("Kế Toán", 20, 5), ("Giam Doc", 50), ("Nhan Vien",10)]
df1 = pd.DataFrame(lst, columns = ["Nghề","Lương","Phép"])
df1

        Nghề  Lương  Phép
0    Kế Toán     20   5.0
1   Giam Doc     50   NaN
2  Nhan Vien     10   NaN

In [15]:
#Tạo Dataframe từ tuple
#pd.DataFrame đối với tuple chúng ta sẽ define columns ở tham số thứ 2 để tạo tên cho cột trong dataframe
#Nếu như chúng ta để trống columns, tên của cột tự động generate theo index
tuples = (('Kế toán', 2000),( 'Kinh doanh', 2100), ('Tiếp thị', 1900))
df2 = pd.DataFrame(tuples, columns = ["Nghề", "Lương"])
df2

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

In [23]:
#Tạo dataframe từ dictionary 
#Đối với dictionary, dataframe sẽ nhận key là cột, và value là dòng
#Đối với dictionary, giá trị value phải được để trong [] dù chỉ với 1 giá trị
dic = {"Nghề":["GD", "NhanVien", "Ke Toan"]
       ,"Lương":[50, 20,30]}
df3 = pd.DataFrame(dic)
df3

       Nghề  Lương
0        GD     50
1  NhanVien     20
2   Ke Toan     30

In [29]:
#Tạo Series từ dictionary 
#Series là một cột của dataframe, chỉ có một chiều dữ liệu
#Tạo series từ dictionary, mỗi cặp key:value tương ứng với giá trị(một điểm dữ liệu) trong series
dic = {"Nghề":["GD", "NhanVien", "Ke Toan"]
       ,"Lương":[50, 20,30]}
df4 = pd.Series(dic)
df4

Nghề     [GD, NhanVien, Ke Toan]
Lương               [50, 20, 30]
dtype: object

In [38]:
#Tạo series từ array
#Series không cho phép chúng ta tạo từ dữ liệu có trên 2 chiều 
arr_error = np.array([[60,70,80,90],[6,7,8,9]])
arr = np.array([6,7,8,9])
df5 = pd.Series(arr)
df5

0    6
1    7
2    8
3    9
dtype: int32

In [40]:
#Tạo series từ các giá trị vô hướng
#Vậy tham số thứ nhất là giá trị truyền vào của Series
#Vậy tham số thứ hai là index mong muốn và số lượng điểm dữ liệu mà series có
series = pd.Series(10, index = [0,2,4])
series

0     10
2     10
4     10
6     10
8     10
10    10
dtype: int64

In [47]:
#Xuất dataframe ra các định dạng khác nhau
#Xuất dataframe ra CSV, tham số đầu tiên là tên file
df.to_csv('AmesHousing-CSV.csv')

#Xuất dataframe ra Excel,tham số đầu tiên là tên file
df.to_excel('AmesHousing-EXCEL.xlsx')

#Xuất dataframe ra JSon,tham số đầu tiên là tên file
#Đối với json, tham số thứ 2 sẽ là orient = "indexes" nếu là series và orient = "columns" nếu là dataframe
df.to_json('AmesHousing-JSON.json', orient = "columns")
           
#Xuất dataframe ra hdf5,tham số đầu tiên là tên file, tham số thứ 2 là format = "table"
df.to_hdf('AmesHousing-H5.h5', key = "str", format = 'table')

#Xuất dataframe ra HTML, tham số đầu tiên là tên file
df.to_html('AmesHousing-HTML.html')

In [55]:
#Tạo dataframe từ các nguồn dữ liệu có sẵn
#Tạo dataframe từ CSV, tham số đầu tiên là tên file
df10 = pd.read_csv('AmesHousing-CSV.csv')

#Tạo dataframe từ Excel, tham số đầu tiên là tên file
df11= pd.read_excel('AmesHousing-EXCEL.xlsx')

#Tạo dataframe từ json, tham số đầu tiên là tên file
df12= pd.read_json('AmesHousing-JSON.json')

#Tạo dataframe từ hdf, tham số đầu tiên là tên file
df13= pd.read_hdf('AmesHousing-H5.h5')

#Tạo dataframe từ html, tham số đầu tiên là tên file
#LƯU Ý: Đối với HTML, chúng ta phải để là biến[0]
url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'
df14= pd.read_html(url)
df14[0]

,Flag,Map,"English short, formal names, and ISO[1][2][3][4]",Domestic short and formal name(s)[1][2],Capital[3][5][6],Population 2021[7][8],Area[9],Currency[3]
0,NaN,NaN,Antigua and Barbuda[n 1]ATG,English: Antigua and Barbuda,St. John's,93219,442.6 km2 (171 sq mi),East Caribbean dollar
1,NaN,NaN,"Bahamas, The[n 1]Commonwealth of The BahamasBHS",English: The Bahamas—Commonwealth of The Bahamas,Nassau,407906,"13,940 km2 (5,382 sq mi)",Bahamian dollar
2,NaN,NaN,Barbados[n 1]BRB,English: Barbados,Bridgetown,281200,431 km2 (166 sq mi),Barbadian dollar
3,NaN,NaN,Belize[n 1][n 2]BLZ,English: Belize,Belmopan,400031,"22,966 km2 (8,867 sq mi)",Belize dollar
4,NaN,NaN,Canada[n 3]CAN,English: CanadaFrench: Canada,Ottawa,38155012,"9,984,670 km2 (3,855,103 sq mi)",Canadian dollar
5,NaN,NaN,Costa Rica[n 2]Republic of Costa RicaCRI,Spanish: Costa Rica — República de Costa Rica,San José,5153957,"51,100 km2 (19,730 sq mi)",Costa Rican colón
6,NaN,NaN,CubaRepublic of CubaCUB,Spanish: Cuba — República de Cuba,Havana,11256372,"110,860 km2 (42,803 sq mi)",Cuban pesoCuban convertible peso
7,NaN,NaN,Dominica[n 1]Commonwealth of DominicaDMA,English: Dominica — Commonwealth of Dominica,Roseau,72412,754 km2 (291 sq mi),East Caribbean dollar
8,NaN,NaN,Dominican Republic[n 2]DOM,English: Dominican RepublicSpanish: República ...,Santo Domingo,11117873,"48,730 km2 (18,815 sq mi)",Dominican peso
9,NaN,NaN,El Salvador[n 2]Republic of El SalvadorSLV,English: El Salvador — Republic of El Salvador...,San Salvador,6314167,"21,040 km2 (8,124 sq mi)",United States dollar
10,NaN,NaN,Grenada[n 1]GRD,English: Grenada,St. George's,124610,344 km2 (133 sq mi),East Caribbean dollar
11,NaN,NaN,Guatemala[n 2]Republic of GuatemalaGTM,Spanish: Guatemala — República de Guatemala,Guatemala City,17608483,"108,890 km2 (42,043 sq mi)",Guatemalan quetzal
12,NaN,NaN,Haiti[n 1]Republic of HaitiHTI,French: Haïti — République d'HaïtiHaitian Creo...,Port-au-Prince,11447569,"27,750 km2 (10,714 sq mi)",Haitian gourde
13,NaN,NaN,Honduras[n 2]Republic of HondurasHND,Spanish: Honduras — República de Honduras,Tegucigalpa,10278345,"112,090 km2 (43,278 sq mi)",Honduran lempira
14,NaN,NaN,Jamaica[n 1]JAM,English: Jamaica,Kingston,2827695,"10,991 km2 (4,244 sq mi)",Jamaican dollar
15,NaN,NaN,Mexico[n 3]United Mexican StatesMEX,Spanish: México — Estados Unidos Mexicanos,Mexico City,126705138,"1,972,550 km2 (761,606 sq mi)",Mexican peso
16,NaN,NaN,Nicaragua[n 2]Republic of NicaraguaNIC,Spanish: Nicaragua — República de Nicaragua,Managua,6850540,"129,494 km2 (49,998 sq mi)",Nicaraguan córdoba
17,NaN,NaN,Panama[n 2]Republic of PanamaPAN,English: Panama — Republic of PanamaSpanish: P...,Panama City,4351267,"78,200 km2 (30,193 sq mi)",Panamanian balboaUnited States dollar
18,NaN,NaN,Saint Kitts and Nevis[n 1]Federation of Saint ...,English: Saint Kitts and Nevis — Federation of...,Basseterre,47606,261 km2 (101 sq mi),East Caribbean dollar
19,NaN,NaN,Saint Lucia[n 1]LCA,English: Saint Lucia,Castries,179651,616 km2 (238 sq mi),East Caribbean dollar
20,NaN,NaN,Saint Vincent and the Grenadines[n 1]VCT,English: Saint Vincent and the Grenadines,Kingstown,104332,389 km2 (150 sq mi),East Caribbean dollar
21,NaN,NaN,Trinidad and Tobago[n 1]Republic of Trinidad a...,English: Trinidad and Tobago — Republic of Tri...,Port of Spain,1525663,"5,128 km2 (1,980 sq mi)",Trinidad and Tobago dollar
22,NaN,NaN,United States[n 3]United States of AmericaUSA,English: United States of America,Washington,336997624,"9,826,630 km2 (3,794,083 sq mi)",United States dollar